@model IEnumerable<MvcWithJQuery.Models.Student>

<h2>AllStudents</h2>

<div class="container">
    <div class="row">
        <div class="col-lg-6">
            @*@Html.ActionLink("Create new Student", "InsertData", "Student", new {@class= "btn btn-primary" })*@
            @*Second Approach*@
            <a href="@Url.Action("InsertData","Student")" class="btn btn-primary">Create new Student</a>
            <br />
            <br />
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th >Student No</th>
                        <th>Name</th>
                        <th>Age</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td >@item.Id</td>
                            <td>@item.Name</td>
                            <td>@item.Age</td>
                            <td><button class="btn btn-warning btnEdit" data-id="@item.Id"  type="button">Edit</button></td>
                            <td><button class="btn btn-danger btnDelete" data-id="@item.Id" type="button">Delete</button></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8" id="actionContainer">

        </div>
    </div>
</div>

@Scripts.Render("~/bundles/jquery")
<script>

    $('.btnDelete').on('click', function () {
        var confirmation = confirm('Are you sure want to delete ?');
        if (confirmation) {
            $.ajax({
                type: 'POST',
                url: '/Student/Delete',
                data: {
                    Id: $(this).attr('data-id')
                }
            })
                .done(function () {
                    alert('Student removed successfully');
                    window.location.replace("AllStudents");
                })
                .fail(function () {
                    alert("something went wrong");
                })
        }

    })

    $(".btnEdit").click(function () {
            $.ajax({
                type: "GET",
                url: '@Url.Action("Update", "Student")',
                data: {
                    Id: $(this).attr("data-id")
                    }
            })
                .done(function (response) {
                    $("#actionContainer").html(response);
                })
                .fail(function () {
                    alert("something went wrong");
                })
        })




    //$(".btnDelete").click(function () {
    //    $.ajax({
    //        type: 'POST',
    //        url: '/Student/Delete',
    //        data: {
    //            Id: $(this).attr('data-id')
    //            }
    //    })
    //        .done(function () {
    //            window.location.replace("AllStudents")
    //        })
    //        .fail(function () {
    //            alert("something went wrong");
    //        })
    //})
</script>